{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualiser par Maladie</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css_app/style3.css' %}">
    <link rel="stylesheet" href="{% static 'css_app/bootstrap.css' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0">
    <style>
        .sidebar-primary .nav-sidebar>.nav-item>.nav-link.active {
            background-color: #99c6f7;
            color: white;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-primary elevation-4">
            <a href="#" class="brand-link text-center">
                <img src="{% static 'img/logo.png' %}" alt="" class="logo">
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="{% url 'base' %}" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>Accueil</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">
                                <i class="nav-icon fas fa-user-plus"></i>
                                <p>Ajouter un patient</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'visualiser_par_maladie' %}" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>Visualiser par maladie</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'telecharger_excel' %}" class="nav-link">
                                <i class="nav-icon fas fa-file-download"></i>
                                <p>Télécharger la liste</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link mt-5">
                                <i class="nav-icon fas fa-users"></i>
                                <p>Déconnexion</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-6">
                            <h3 class="m-0">Visualiser les patients par pathologie</h3>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            <!-- Formulaire pour sélectionner une pathologie -->
                            <form method="GET" action="{% url 'visualiser_par_maladie' %}">
                                <div class="form-group">
                                    <label for="pathologie">Sélectionner une pathologie</label>
                                    <select name="pathologie" id="pathologie" class="form-control">
                                        <option value="">Toutes les pathologies</option>
                                        {% for pathologie in pathologies %}
                                            <option value="{{ pathologie }}" {% if pathologie == pathologie_filtrée %} selected {% endif %}>{{ pathologie }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Visualiser</button>
                            </form>

                            <!-- Afficher le graphique -->
                            {% if image_stream %}
                            <h3>Visualisation des patients souffrant de : {{ pathologie_filtrée }}</h3>
                            <img src="data:image/png;base64,{{ image_stream }}" alt="Graphique des patients par pathologie">
                            {% endif %}

                            <!-- Afficher la liste des patients -->
                            {% if patients %}
                                <h4>Liste des patients souffrant de : {{ pathologie_filtrée }}</h4>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>Téléphone</th>
                                            <th>Pathologie</th>
                                            <th>Numéro de Sécurité</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pat in patients %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ pat.Nom }}</td>
                                                <td>{{ pat.Prénom }}</td>
                                                <td>{{ pat.Téléphone }}</td>
                                                <td>{{ pat.Pathologie }}</td>
                                                <td>{{ pat.NuméroSécuritéSo}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Aucun patient trouvé pour cette pathologie.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <div class="text-center">
                <span class="text-muted">
                    Copyright &copy; <script>document.write(new Date().getFullYear())</script>
                </span>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/js/adminlte.min.js"></script>
</body>
</html>
